In [1]:
# importing the library
import pandas as pd

In [2]:
# loading the data
df = pd.read_excel("D:\ \ \Data Analysis\Tata\Online Retail.xlsx")

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Saurabh\AppData\Local\Temp\ipykernel_46068\2851110678.py:2: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_excel("D:\ \ \Data Analysis\Tata\Online Retail.xlsx")

In [3]:
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7458,537041,84924A,WAKE UP COCKEREL CALENDAR SIGN,1,2010-12-05 10:36:00,3.75,16033.0,United Kingdom
489222,577980,23526,WALL ART DOG LICENCE,1,2011-11-22 12:24:00,5.95,16330.0,United Kingdom
301843,563355,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-08-15 14:39:00,0.85,14156.0,EIRE
29154,538709,22334,DINOSAUR PARTY BAG + STICKER SET,2,2010-12-14 10:46:00,1.65,16442.0,United Kingdom
533608,581095,23351,ROLL WRAP 50'S CHRISTMAS,2,2011-12-07 11:35:00,1.25,17238.0,United Kingdom

In [4]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [5]:
# removing the error in Quantity
df = df[df['Quantity'] >= 1]

In [6]:
# removing the error in Unit Price
df = df[df['UnitPrice'] >= 0]

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
df.Quantity.describe()

count    531283.000000
mean         10.655299
std         156.830617
min           1.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [9]:
df.UnitPrice.describe()

count    531283.000000
mean          3.898954
std          35.876279
min           0.000000
25%           1.250000
50%           2.080000
75%           4.130000
max       13541.330000
Name: UnitPrice, dtype: float64

In [10]:
df.to_csv("D:\ \ \Data Analysis\Tata\Online Retail.csv")\

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Saurabh\AppData\Local\Temp\ipykernel_44768\2000433921.py:1: SyntaxWarning: invalid escape sequence '\D'
  df.to_csv("D:\ \ \Data Analysis\Tata\Online Retail.csv")